main {
    width: calc(100% - 200px);
    margin: 15px auto;
}
  
@media (max-width: 960px) 
{
    main {
        width: calc(100% - 50px);
        margin: 15px auto;
    }
}

#submenu-aikido {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
}

@media (max-width: 400px) 
{
    #submenu-aikido {
        flex-direction: column;
    }

    #submenu-aikido li {
        width: 100% !important;
    }
}

#submenu-aikido li {
    background-color: var(--base-color-yellow);
    color: var(--base-color-title) !important;
    width: 33.33%;
    height: 30px;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submenu-aikido li a {
    color: var(--base-color-title) !important;
    text-decoration: none;
}

.active-submenu {
    border-bottom: solid .2px var(--base-color-title);
}

.section-img {
    width: 60%;
    height: 100%;
    min-height: 400px;
    object-fit: cover;
    object-position: 10%;
    margin: 0 50px;
}

  
@media (max-width: 960px) 
{
    .section-img {
        width: 100%;
        margin: 0;
     }
}

.section-text {
    overflow: auto;
    max-height: 350px;
}

.section-title {
    text-transform: uppercase;
    margin: 1px 5px;
}

.section-subtitle {
    margin: 10px 5px;
}


.submenu-aikido-item:hover {
    color: var(--base-color-text) !important;
    border-bottom: solid .2px var(--base-color-text);
    cursor: pointer;
}