#contact-content {
  width: calc(100% - 200px);
  margin: 0 auto;
  min-height: calc(100vh - 80px);
}

@media (max-width: 960px) 
{
  #contact-content {
    width: calc(100% - 50px);
    margin: 0 auto;
  }
  
}


@media (max-width: 960px) 
{
  #contact-quotes {
    margin-top: 25px !important;
  }
}

#contact-quotes-author {
  margin-top: 10px !important;
}

#contact-card, #contact-form {
  margin: 0 25px;
  padding: 15px;
}

#btn-send {
  background:  var(--base-color-yellow);
  color: var(--base-color-title); 
  margin: 5px 0;
  border-radius: 2px
}

#text-context-title {
  margin-bottom: 5px;
}

textarea {
  resize: none;
}

h6 {
  margin: 0 !important;
}


