
#dojo-content {
    width: calc(100% - 200px);
    margin: 100px auto;
}

@media (max-width: 960px) {
    #dojo-content {
        width: calc(100% - 50px);
        margin: 25px auto;
    }
}


[img-ajust] {
    object-fit: cover;
    object-position: center center;
}


#schedule-container {
    width: 25%;
}

@media (max-width: 960px) {
    #schedule-container {
        width: 50%;
    }
}

@media (max-width: 400px) {
    #schedule-container {
        width: 95%;
    }
}

#class-schedule :nth-child(n) {
    margin: 0;
    padding: 0;
    text-align: center;
}

#class-schedule [uk-icon=clock] {
    color: var(--base-color-yellow);
}
#class-schedule strong,
#class-schedule span {
    font-size: small;
}
#class-schedule-title {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
#class-schedule em {
    color: var(--base-color-blue);
    text-transform: uppercase;
    font-size: x-small;
}
