#home-background {
  width: 100%;
  height: calc(100vh - 80px);
  background: url('../images/aikido3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
