@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');
:root
{
    --base-color-blue: #188cdf;
    --base-color-yellow: #FABB4E;
    --base-color-background: #282a36;
    --base-color-sec-background: #30475e	;
    --base-color-title: #44475a;
    --base-color-text: #f8f8f2;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: var(--base-color-background);
}

header nav
{
    margin-right: 100px;
}

@media (max-width: 960px) 
{
    header nav
    {
        margin-right: 10px !important;
    }

    #nav-banner
    {
        margin-left: 10px !important;
    }
}

header nav ul
{
    list-style: none;
    text-transform: uppercase;
    font-family: 'Barlow Condensed';
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 25px 10px 0;
}

header nav ul li
{
    width: 80px;
    text-align: center;
}

header nav ul li:hover,
.navbar-link:hover
{
    border-bottom: .5px solid var(--base-color-yellow);
    animation-duration: 1s;
}

header nav ul li .navlink 
{
    text-decoration: none;
    color:var(--base-color-text);
}

#hamburger-menu
{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 10px;
}

@media (max-width: 400px) 
{
    #hamburger-menu 
    {
        margin-right: 35px;
        margin-left: 25px;
    }

    #nav-banner
    {
        margin-left: 25px !important;
    }
}

#nav-banner
{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 10px;
}

#nav-logo
{
    background: var(--base-color-yellow);
    font-family: 'Barlow Condensed';
    min-width: 70px;
    min-height: 60px;
    width: 70px;
    height: 62px;
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

#nav-logo img
{
    width: 60px;
} 

#nav-title
{
    margin: 0 5px;
}

#nav-title h5, 
#nav-title h6 
{
    color: var(--base-color-text);
    width: 100px;
    margin: 2px;
}

#nav-title h6
{
    font-size: xx-small;
}

#nav-title h5
{
    border-bottom: 0.5px solid var(--base-color-text);
}

.active-link
{
    border-radius: 1px;
    background-color: var(--base-color-yellow);
}

.active-link > a,
.active-link:hover > a
{
    color: var(--base-color-title) !important;
}

.uk-offcanvas-bar {
    background: var(--base-color-background) !important;
}

.navbar-link {
    text-align: center;
    text-transform: uppercase;
    color: var(--base-color-text) !important;
}

#offcanvas-menu .uk-offcanvas-close {
    color: var(--base-color-yellow);
}

#offcanvas-menu .uk-offcanvas-close:hover {
    color: var(--base-color-title);
}